<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GestDropper_Diario_Agua/src/principal/GestDropper_Diario_Agua.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="principal.GestDropper_Diario_Agua"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GestDropper_Diario_Agua"/>
</launchConfiguration>
